extends ./userlayout.pug
block title
    title #{buildingName}
    style
        include css/page.css
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
block content
    div(class="bdgTitle")
        h1 #{buildingName}
    div(class="bdgImg")
        img(class="innerImg" src= "http://52.78.17.235/img/"+buildingImage)
    div(class="mapdiv" id="map" style="width:500px;height:400px;")
    div(class="nearBdgList")
    
    div(class="centerdiv")
        input(type="button" margin="auto" name="wayfind" class="searchButton" value="길찾기")
        input(type="button" margin="auto" name="search" class="searchButton" value="다음 지도에서 검색")
    p(id="bdgName" hidden="true") #{buildingName}
    p(id="latitude" hidden="true") #{buildingLatitude}
    p(id="longitude" hidden="true") #{buildingLongitude}
    script(src="//apis.daum.net/maps/maps3.js?apikey=9e7b4f02cc89fa18ab3e9ca9cb7e6898")
    script.
        window.onload = init();
        var container = document.getElementById('map');
        var options = {
            center : new daum.maps.LatLng(35.17975388800317
                , 126.90864887702128),
            level : 3
        };
        var map = new daum.maps.Map(container, options);
        var marker = new daum.maps.Marker({
            map: map,
            draggable:false,
            position: new daum.maps.LatLng(35.17975388800317
                , 126.90864887702128)
        });

        function init(){
            /*버튼 이벤트*/
            
            /*건물 정보 검사*/
            if(latitude.innerHTML == "") location.href = '/failed'
            /*건물 정보 로드 완료 대기후 실행*/
            setTimeout(function(){
            var lat = parseFloat(document.getElementById('latitude').innerHTML);
            var long = parseFloat(document.getElementById('longitude').innerHTML);
            var bdgName = document.getElementById('bdgName').innerHTML;
            document.getElementsByName("wayfind")[0].onclick=window.open('http://map.daum.net/link/to/'+bdgName+','+lat+','+long);
            document.getElementsByName("search")[0].onclick=window.open('http://map.daum.net/link/search/'+bdgName;
            var bdgPosition = new daum.maps.LatLng(lat,long);
            console.log(typeof(lat));
            console.log(map.getCenter());
            console.log(bdgPosition);
            console.log(bdgPosition.getLat());
            console.log(bdgPosition.getLng());
            map.setCenter(bdgPosition);
            marker.setPosition(bdgPosition);
            map.relayout();
            console.log(map.getCenter());
            //mapInit();
            },200);
        }
        
        function getPosition(position) {
            navigator.geolocation.getCurrentPosition(function(position){
                data.latitude.value=position.coords.latitude;
                data.longitude.value=position.coords.longitude;
            });
        }
        function mapInit() {
            return refreshMap();
        }
        function refreshMap(){
            console.log(lat);
            console.log(long);
            var position = new daum.maps.LatLng(lat,long);
            console.log(position);
            map.setCenter(position);
        }
        function mapChanged(){
            return refreshMap(data.latitude.value
                    ,data.longitude.value);
        }
        
