extends ./userlayout.pug
block title
    title #{buildingName}
block content
    div(id=bdgTitle) #{buildingName}
    div(id=bdgImg)
        img(src=buildingImage)
    div(id="map" style="width:500px;height:400px;")
    div(id="nearBdgList")
    p(id="latitude" hidden="true") #{buildingLongitude}
    p(id="longitude" hidden="true") #{buildingLatitude}
    script.
        

    